@tailwind base;
@tailwind components;
@tailwind utilities;


body, html {
    overflow: auto; /* or overflow-y: auto; */
}

.bodycl {
  background-color: #c9d6ff;
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  overflow-y: hidden;
  height: 100vh;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  --b: 8px; 
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 1px;
  background: conic-gradient(#0000 10%,#f03355) content-box;
  -webkit-mask:
    repeating-conic-gradient(#0000 0deg,#000 1deg 20deg,#0000 21deg 36deg),
    radial-gradient(farthest-side,#0000 calc(100% - var(--b) - 1px),#000 calc(100% - var(--b)));
  -webkit-mask-composite: destination-in;
          mask-composite: intersect;
  animation:l4 1s infinite steps(10);
}

@keyframes l4 {to{transform: rotate(1turn)}}

.custom-editor-container .ql-editor {
  font-size: 16px; /* Adjust the font size as needed */
  line-height: 1.6; /* Optional: Adjust line height for better readability */
}

.custom-editor-container {
   /* To make the text inside editor bold */
}